.profile__edit-button {
  padding: 0;
  grid-area: edit-btn;
  box-sizing: border-box;
  background-image: url(../../../images/pencil.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-position: center center;
  border: 1px solid #FFFFFF;
  align-self: end;
  margin-bottom: 9px;
  transition: border-color .3s,
              background-image .3s;
}

.profile__edit-button:hover {
  cursor: pointer;
  border-color: rgba(255, 255, 255, 0.6);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xMCAxLjMyODI3TDIuNjAzNzcgOC43NjY2TDEuMjgzMDIgNy40MTkzNkw4LjY2MDM4IDBMMTAgMS4zMjgyN1pNMCAxMEwxLjk2MjI2IDkuNDExNzdMMC41ODQ5MDYgOC4wODM0OUwwIDEwWiIgZmlsbD0id2hpdGUiIGZpbGwtb3BhY2l0eT0iMC42Ii8+DQo8L3N2Zz4NCg==");
}

@media screen and (max-width: 1279px) {
  .profile__edit-button {
    width: calc(18px + (24 - 18) * (100vw - 320px) / (1279 - 320));
    height: calc(18px + (24 - 18) * (100vw - 320px) / (1279 - 320));
    margin-bottom: 5px;
  }
}
