.popup__exit-button {
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/exit.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  background-size: 32px 32px;
  transition: opacity .3s;
  margin-left: 470px;
}

.popup__exit-button:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 1279px) {
  .popup__exit-button {
    width: calc(20px + (32 - 20) * (100vw - 320px) / (1279 - 320));
    height: calc(20px + (32 - 20) * (100vw - 320px) / (1279 - 320));
    background-size: calc(20px + (32 - 20) * (100vw - 320px) / (1279 - 320)) calc(20px + (32 - 20) * (100vw - 320px) / (1279 - 320));
    margin-left: calc(262px + (470 - 262) * (100vw - 320px) / (1279 - 320));
  }
}
