.elements__like-button {
  padding: 0;
  grid-area: like;
  border: none;
  width: 22px;
  height: 19px;
  margin: 30px 20px 30px 0;
  justify-self: end;
  background-image: url(../../../images/like.svg);
  background-color: white;
  transition: opacity .3s;
}

.elements__like-button:hover {
  cursor: pointer;
  opacity: .5;
}
